<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
>
    <testsuites>
        <testsuite name="Package Test Suite">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="AWS_COGNITO_USER_POOL_ID" value="12345678"/>
        <env name="AWS_COGNITO_REGION" value="ap-southeast-1"/>
        <env name="AWS_COGNITO_CLIENT_ID" value="123455"/>
        <env name="AWS_COGNITO_CLIENT_SECRET" value="example"/>
        <env name="AWS_ACCESS_KEY_ID" value="123456"/>
        <env name="AWS_SECRET_ACCESS_KEY" value="example"/>
    </php>
</phpunit>
